<!doctype html>
<html lang="en">
 <head> 
  <meta charset="utf-8"> 
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta class="foundation-mq"> 
  <link type="text/css" rel="stylesheet" href="/assets/css/main.min-a77976da.css"> 
  <meta name="author" content="UCLA"> 
  <meta name="msapplication-TileColor" content="#f01d4f"> 
  <meta name="msapplication-TileImage" content="/assets/img/win8-tile-icon.png"> 
  <title>UCLA – The Optimists – Antonio Villaraigosa</title> 
  <meta itemprop="description" name="description" content="As the first Latino mayor of Los Angeles in more than 130 years, Antonio Villaraigosa represented the new face of a city transformed by ethnic diversity. He inherited a metropolis with more millionaires than any other but also the nation's largest number of working poor. A son of East Los Angeles, Villaraigosa began at an early age to stand up for the underserved. At UCLA he led demonstrations in support of farmworkers, ethnic studies and increased admission of women and minorities. After graduation he became a labor organizer, served as president of the ACLU of Southern California and then won a seat in the state assembly, eventually becoming speaker. While he was mayor, Los Angeles became safer and greener; rapid transit grew and public schools became more competitive."> 
  <meta name="keywords" content=""> 
  <link rel="canonical" href="http://optimists.ucla.edu/profiles/villaraigosa/"> 
  <link rel="alternate" type="application/rss+xml" title="The Optimists - UCLA" href="/feed.xml"> 
  <link rel="icon" href="/assets/img/favicon.png"> 
  <link href="/assets/img/apple-icon-touch.png" rel="apple-touch-icon"> 
  <meta name="msapplication-TileColor" content="#f01d4f"> 
  <meta name="msapplication-TileImage" content="/assets/img/win8-tile-icon.png"> 
  <meta name="theme-color" content="#121212"> 
  <!--open graph --> 
  <meta property="og:locale" content="en_US"> 
  <meta property="og:type" content="article"> 
  <meta property="og:title" content="HIS CALIFORNIA DREAM LIFTS UP THE MIDDLE CLASS."> 
  <meta property="og:url" prefix="og: http://ogp.me/ns#" content="http://ucla.in/14zfiQk"> 
  <meta property="og:image" prefix="og: http://ogp.me/ns#" content="http://optimists.ucla.edu/assets/img/profile/desktop/large/villaraigosa-large-retina.jpg"> 
  <meta property="og:headline" content="Antonio Villaraigosa"> 
  <meta property="og:site_name" content="UCLA – The Optimists – Antonio Villaraigosa"> 
  <meta property="og:description" content="As the first Latino mayor of Los Angeles in more than 130 years, Antonio Villaraigosa represented the new face of a city transformed by ethnic diversity. He inherited a metropolis with more millionaires than any other but also the nation's largest number of working poor. A son of East Los Angeles, Villaraigosa began at an early age to stand up for the underserved. At UCLA he led demonstrations in support of farmworkers, ethnic studies and increased admission of women and minorities. After graduation he became a labor organizer, served as president of the ACLU of Southern California and then won a seat in the state assembly, eventually becoming speaker. While he was mayor, Los Angeles became safer and greener; rapid transit grew and public schools became more competitive."> 
  <!--twitter--> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:title" content="UCLA – The Optimists – Antonio Villaraigosa"> 
  <meta name="twitter:description" content="Powered by optimism @UCLA Optimists always find a way. Explore how at"> 
  <meta name="twitter:hashtags" content="OptimismCan"> 
  <meta name="twitter:site" content="@ucla"> 
  <meta name="twitter:image" content="http://optimists.ucla.edu/assets/img/profile/desktop/large/villaraigosa-large-retina.jpg"> 
  <meta name="twitter:url" content="http://ucla.in/14zfiQk"> 
  <!-- googleplus --> 
  <meta itemprop="name" content="UCLA – The Optimists – Antonio Villaraigosa"> 
  <meta itemprop="description" content="As the first Latino mayor of Los Angeles in more than 130 years, Antonio Villaraigosa represented the new face of a city transformed by ethnic diversity. He inherited a metropolis with more millionaires than any other but also the nation's largest number of working poor. A son of East Los Angeles, Villaraigosa began at an early age to stand up for the underserved. At UCLA he led demonstrations in support of farmworkers, ethnic studies and increased admission of women and minorities. After graduation he became a labor organizer, served as president of the ACLU of Southern California and then won a seat in the state assembly, eventually becoming speaker. While he was mayor, Los Angeles became safer and greener; rapid transit grew and public schools became more competitive."> 
  <meta itemprop="image" content="http://optimists.ucla.edu/assets/img/profile/desktop/large/villaraigosa-large-retina.jpg" "> 
  <!--Google Tag Manager--> 
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5B35WQ');</script> 
  <!--End Google Tag Manager--> 
  <script>
  
  </script> 
 </head> 
 <body class="js-loading"> 
  <!--Google Tag Manager Noscript--> 
  <noscript>
   <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5B35WQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript> 
  <!--End Google Tag Manager Noscript--> 
  <div id="skip-nav" class="show-for-sr"> 
   <a href="#main-navigation">Skip to Navigation</a> 
   <a href="#maincontent">Skip to Main Content</a> 
   <a href="#footer-navigation">Skip to Footer menu</a> 
  </div> 
  <header class="site-header" role="banner"> 
   <div class="site-header__bg-helper"> 
    <div class="site-header__bg-helper__row row"> 
     <div class="site-header__bg-helper__column columns"></div> 
    </div> 
   </div> 
   <div class="wrapper site-header__main"> 
    <div class="site-header__row"> 
     <div class="site-header__col"> 
      <a href="/" class="site-header__logo"> 
       <svg class="site-header__logo-ucla"> 
        <title>
              UCLA
            </title> 
        <use xlink:href="/assets/img/merged.svg#logo-main" /> 
       </svg> 
       <svg class="site-header__logo-optimist"> 
        <title>
              The Optimists
            </title> 
        <use xlink:href="/assets/img/merged.svg#logo-optimists" /> 
       </svg> </a> 
      <nav class="site-nav" role="navigation"> 
       <ul class="site-nav__list" id="main-navigation" role="menu"> 
        <li class="site-nav__item active" role="menuitem"> <a href="/profiles/">Optimists</a> </li> 
        <li class="site-nav__item" role="menuitem"> <a href="/videos/">Videos</a> </li> 
        <li class="site-nav__item" role="menuitem"> <a href="/stories/">Stories</a> </li> 
        <li class="site-nav__item site-nav__item--stay-informed" role="menuitem"> <a href="#" id="stay-informed-trigger">Stay Informed</a> </li> 
       </ul> 
      </nav> 
      <div class="site-mobile-trigger"> 
       <div class="site-mobile-trigger__bar" role="button"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="site-stay-informed" id="stay-informed" v-cloak aria-hidden="true"> 
    <div class="site-stay-informed__main" role="dialog" aria-label="Stay Informed, Subscribe" aria-hidden="true"> 
     <transition name="fade"> 
      <div class="site-stay-informed__success" v-if="formSuccess"> 
       <div class="site-stay-informed__success-inner"> 
        <h4 class="site-stay-informed__title"> Thank you! </h4> 
        <div class="site-stay-informed__desc"> 
         <p> You have been added to our monthly Newsletter </p> 
        </div> 
       </div> 
      </div> 
     </transition> 
     <form id="sign-up-details" action="http://uclacrm.mkt5658.com/optimists-2016-opt-in/" method="post" role="form" aria-label="Subscribe Form"> 
      <input type="hidden" name="formSourceName" value="StandardForm"> 
      <input type="hidden" name="sp_exp" value="yes"> 
      <div class="site-stay-informed__inner"> 
       <div class="row"> 
        <div class="columns"> 
         <h4 class="site-stay-informed__title"> Stay Informed </h4> 
         <div class="site-stay-informed__desc"> 
          <p> Sign up to receive engaging, educational and inspirational content in your inbox. </p> 
         </div> 
        </div> 
       </div> 
       <div class="row" v-if="IsBruin === '1'"> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Email</span> <input class="site-stay-informed__input-text" type="text" placeholder="Email" id="stay-informed-email-not-bruin" name="Email" v-validate="'required|email'" v-model="email"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Email </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('Email')">{{ errors.first('Email') }}</span> 
         </div> 
        </div> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">First Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="First Name" id="stay-informed-first-name-not-bruin" name="First-Name" v-validate="'required'" v-model="firstName" data-vv-as="First Name"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> First Name </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('First-Name')">{{ errors.first('First-Name') }}</span> 
         </div> 
        </div> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Last Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="Last Name" id="stay-informed-last-name-not-bruin" name="Last-Name" v-validate="{required: true}" v-model="lastName" data-vv-as="Last Name"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Last Name </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('Last-Name')">{{ errors.first('Last-Name') }}</span> 
         </div> 
        </div> 
       </div> 
       <div class="row" v-else> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Email</span> <input class="site-stay-informed__input-text" type="text" placeholder="Email" id="stay-informed-email" name="Email" v-validate="'required|email'" v-model="email"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Email </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('Email')">{{ errors.first('Email') }}</span> 
         </div> 
        </div> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">First Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="First Name" id="stay-informed-first-name" name="First-Name" v-model="firstName"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> First Name </span> </label> 
         </div> 
        </div> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Last Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="Last Name" id="stay-informed-last-name" name="Last-Name" v-model="lastName"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Last Name </span> </label> 
         </div> 
        </div> 
       </div> 
       <div class="row"> 
        <div class="columns large-4 large-offset-4 site-stay-informed__bruin"> 
         <div class="site-stay-informed__input-radio-wrapper"> 
          <input type="radio" class="site-stay-informed__input-radio" v-bind:name="bruinName" value="1" role="radio" v-bind:id="bruinName+'-true'" v-model="IsBruin" v-validate="'required'"> 
          <div class="site-stay-informed__input-radio-visual"></div> 
          <label class="site-stay-informed__input-radio-label" v-bind:for="bruinName+'-true'">I am a Bruin</label> 
         </div> 
         <div class="site-stay-informed__input-radio-wrapper"> 
          <input type="radio" v-validate="'required'" class="site-stay-informed__input-radio" role="radio" v-bind:name="bruinName" value="0" v-bind:id="bruinName+'-false'" v-model="IsBruin"> 
          <div class="site-stay-informed__input-radio-visual"></div> 
          <label class="site-stay-informed__input-radio-label" v-bind:for="bruinName+'-false'">I am not a Bruin</label> 
         </div> 
         <input type="hidden" :value="IsBruin" name="IsBruin"> 
         <span style="display: block; margin-left: 16px;" v-show="errors.has(bruinName)">Required field missing.</span> 
        </div> 
       </div> 
      </div> 
      <div class="site-stay-informed__inner site-stay-informed__inner--detail" v-if="IsBruin === '1'"> 
       <div class="row"> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Year Graduated (YYYY)</span> <input class="site-stay-informed__input-text" type="text" placeholder="Year Graduated (YYYY)" id="stay-informed-year-graduated" name="Grad-Year" v-validate="'required|digits:4'" v-model="gradYear" data-vv-as="Year Graduated"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Year Graduated (YYYY) </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('Grad-Year')">{{ errors.first('Grad-Year') }}</span> 
         </div> 
        </div> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Degree Achieved</span> <input class="site-stay-informed__input-text" type="text" placeholder="Degree Achieved" id="stay-informed-degree-achieved" name="Degree" v-validate="'required'" v-model="degree" data-vv-as="Degree Achieved"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Degree Achieved </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('Degree')">{{ errors.first('Degree') }}</span> 
         </div> 
        </div> 
        <div class="columns large-4"> 
         <div class="site-stay-informed__input-text-wrapper"> 
          <label> <span class="show-for-sr">Last name at graduation</span> <input class="site-stay-informed__input-text" type="text" placeholder="Last name at graduation" id="stay-informed-last-name-graduation" name="Grad-Last-Name" v-validate="'required'" v-model="gradLastName" data-vv-as="Last name at graduation"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Last name at graduation </span> </label> 
          <span class="site-stay-informed__error" v-show="errors.has('Grad-Last-Name')">{{ errors.first('Grad-Last-Name') }}</span> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="site-stay-informed__inner"> 
       <div class="row"> 
        <div class="columns large-4 large-offset-4"> 
         <input @click.prevent.stop="submit" type="submit" name="submit" id="submit" class="site-stay-informed__submit button button-form" value="JOIN"> 
        </div> 
        <div class="columns site-stay-informed__disclaimer"> 
         <p>We value your privacy. UCLA will not share your information with any outside or third parties.</p> 
        </div> 
       </div> 
      </div> 
     </form> 
    </div> 
   </div> 
  </header> 
  <section id="maincontent" role="main"> 
   <section class="profile-main global-shadow global-inner-shadow-2"> 
    <div class="molecules"> 
     <div class="content-wrapper"> 
      <div class="row"> 
       <div class="columns large-offset-2 large-8 text-center white-text"> 
        <h2><span class="yellow-underline">Antonio Villaraigosa</span></h2> 
        <div class="profile-main__subheader"> 
         <p>Class of 1977</p> 
        </div> 
       </div> 
      </div> 
      <div class="row"> 
       <div class="columns"> 
        <div class="optimist-profile"> 
         <div class="row  optimist-profile__row optimist-profile__row--profile"> 
          <div class="columns medium-6"> 
           <div class="optimist-profile__main"> 
            <div class="three-dots hide-for-large"></div> 
            <h2 class="optimist-profile__role"> HIS CALIFORNIA DREAM LIFTS UP THE MIDDLE CLASS. </h2> 
            <div class="optimist-profile__bio"> 
             <p> </p>
             <p>As the first Latino mayor of Los Angeles in more than 130 years, Antonio Villaraigosa represented the new face of a city transformed by ethnic diversity. He inherited a metropolis with more millionaires than any other but also the nation’s largest number of working poor. A son of East Los Angeles, Villaraigosa began at an early age to stand up for the underserved. At UCLA he led demonstrations in support of farmworkers, ethnic studies and increased admission of women and minorities. After graduation he became a labor organizer, served as president of the ACLU of Southern California and then won a seat in the state assembly, eventually becoming speaker. While he was mayor, Los Angeles became safer and greener; rapid transit grew and public schools became more competitive.</p> 
             <p></p> 
            </div> 
            <h3 class="optimist-profile__last-sentence"> What will be your legacy? </h3> 
            <a href="/get-involved" class="button button-blue" role="button"> Get involved with ucla </a> 
           </div> 
          </div> 
          <div class="columns medium-6 optimist-profile__picture-column"> 
           <div class="optimist-profile__picture"> 
            <img src="/assets/img/profile/desktop/large/villaraigosa-large-retina.jpg" alt="Antonio Villaraigosa"> 
           </div> 
          </div> 
          <div class="optimist-profile__picture-bg"> 
           <div class="optimist-profile__picture-bg-inner" style="background-image: url(/assets/img/profile/desktop/large/villaraigosa-large.jpg)"></div> 
          </div> 
         </div> 
         <div class="optimist-profile__social social-row"> 
          <div class="social-row__label" aria-hidden="true">
            Share: 
          </div> 
          <div class="social-row__list" role="menu" aria-label="Share this content"> 
           <a class="social-row__item" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Foptimists.ucla.edu%2Fprofiles%2Fvillaraigosa%2F&amp;redirect_uri=http%3A%2F%2Fucla.in%2F14zfiQk" role="menuitem"> 
            <div class="icon-facebook"></div><span class="show-for-sr">Facebook</span> </a> 
           <a class="social-row__item" target="_blank" href="https://www.twitter.com/share?text=Powered+by+optimism+%40UCLA+Optimists+always+find+a+way.+Explore+how+at&amp;url=http%3A%2F%2Fucla.in%2F14zfiQk&amp;hashtags=OptimismCan" role="menuitem"> 
            <div class="icon-twitter-bird"></div><span class="show-for-sr">Twitter</span> </a> 
           <a class="social-row__item" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fucla.in%2F14zfiQk&amp;title=HIS+CALIFORNIA+DREAM+LIFTS+UP+THE+MIDDLE+CLASS." role="menuitem"> 
            <div class="icon-linkedin"></div><span class="show-for-sr">LinkedIn</span> </a> 
          </div> 
         </div> 
         <div class="optimist-profile__gradient gradient-3"></div> 
        </div> 
       </div> 
       <div class="columns text-center"> 
        <a href="/profiles/" class="button button-white" role="button"> See All Optimists </a> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section> 
   <section class="newsletter-signup gradient-4" id="stay-informed-cta" role="form" aria-label="Subscribe Form"> 
    <div class="row"> 
     <div class="columns medium-text-center"> 
      <h3>Stay Informed</h3> 
      <p>Sign up to receive engaging, educational and inspirational content in your inbox.</p> 
     </div> 
    </div> 
    <form> 
     <div class="row"> 
      <div class="columns medium-text-center"> 
       <label for="newsletter-signup-textbox" class="show-for-sr">Email:</label> 
       <input id="newsletter-signup-textbox" type="email" name="email" placeholder="Email Address" v-model="email"> 
       <input type="submit" value="Join" class="button button-form" @click.prevent.stop="preSubmit"> 
      </div> 
     </div> 
    </form> 
    <div class="stay-informed-modal" :class="{'stay-informed-modal--open': modalOpen}" v-cloak> 
     <div class="stay-informed-modal__inner"> 
      <div class="site-stay-informed__main" role="dialog" aria-label="Stay Informed, Subscribe" aria-hidden="true"> 
       <transition name="fade"> 
        <div class="site-stay-informed__success" v-if="formSuccess"> 
         <div class="site-stay-informed__success-inner"> 
          <h4 class="site-stay-informed__title"> Thank you! </h4> 
          <div class="site-stay-informed__desc"> 
           <p> You have been added to our monthly Newsletter </p> 
          </div> 
         </div> 
        </div> 
       </transition> 
       <form id="sign-up-details" action="http://uclacrm.mkt5658.com/optimists-2016-opt-in/" method="post" role="form" aria-label="Subscribe Form"> 
        <input type="hidden" name="formSourceName" value="StandardForm"> 
        <input type="hidden" name="sp_exp" value="yes"> 
        <div class="site-stay-informed__inner"> 
         <div class="row"> 
          <div class="columns"> 
           <h4 class="site-stay-informed__title"> Stay Informed </h4> 
           <div class="site-stay-informed__desc"> 
            <p> Sign up to receive engaging, educational and inspirational content in your inbox. </p> 
           </div> 
          </div> 
         </div> 
         <div class="row" v-if="IsBruin === '1'"> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Email</span> <input class="site-stay-informed__input-text" type="text" placeholder="Email" id="stay-informed-email-not-bruin" name="Email" v-validate="'required|email'" v-model="email"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Email </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('Email')">{{ errors.first('Email') }}</span> 
           </div> 
          </div> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">First Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="First Name" id="stay-informed-first-name-not-bruin" name="First-Name" v-validate="'required'" v-model="firstName" data-vv-as="First Name"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> First Name </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('First-Name')">{{ errors.first('First-Name') }}</span> 
           </div> 
          </div> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Last Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="Last Name" id="stay-informed-last-name-not-bruin" name="Last-Name" v-validate="{required: true}" v-model="lastName" data-vv-as="Last Name"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Last Name </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('Last-Name')">{{ errors.first('Last-Name') }}</span> 
           </div> 
          </div> 
         </div> 
         <div class="row" v-else> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Email</span> <input class="site-stay-informed__input-text" type="text" placeholder="Email" id="stay-informed-email" name="Email" v-validate="'required|email'" v-model="email"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Email </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('Email')">{{ errors.first('Email') }}</span> 
           </div> 
          </div> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">First Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="First Name" id="stay-informed-first-name" name="First-Name" v-model="firstName"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> First Name </span> </label> 
           </div> 
          </div> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Last Name</span> <input class="site-stay-informed__input-text" type="text" placeholder="Last Name" id="stay-informed-last-name" name="Last-Name" v-model="lastName"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Last Name </span> </label> 
           </div> 
          </div> 
         </div> 
         <div class="row"> 
          <div class="columns large-4 large-offset-4 site-stay-informed__bruin"> 
           <div class="site-stay-informed__input-radio-wrapper"> 
            <input type="radio" class="site-stay-informed__input-radio" v-bind:name="bruinName" value="1" role="radio" v-bind:id="bruinName+'-true'" v-model="IsBruin" v-validate="'required'"> 
            <div class="site-stay-informed__input-radio-visual"></div> 
            <label class="site-stay-informed__input-radio-label" v-bind:for="bruinName+'-true'">I am a Bruin</label> 
           </div> 
           <div class="site-stay-informed__input-radio-wrapper"> 
            <input type="radio" v-validate="'required'" class="site-stay-informed__input-radio" role="radio" v-bind:name="bruinName" value="0" v-bind:id="bruinName+'-false'" v-model="IsBruin"> 
            <div class="site-stay-informed__input-radio-visual"></div> 
            <label class="site-stay-informed__input-radio-label" v-bind:for="bruinName+'-false'">I am not a Bruin</label> 
           </div> 
           <input type="hidden" :value="IsBruin" name="IsBruin"> 
           <span style="display: block; margin-left: 16px;" v-show="errors.has(bruinName)">Required field missing.</span> 
          </div> 
         </div> 
        </div> 
        <div class="site-stay-informed__inner site-stay-informed__inner--detail" v-if="IsBruin === '1'"> 
         <div class="row"> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Year Graduated (YYYY)</span> <input class="site-stay-informed__input-text" type="text" placeholder="Year Graduated (YYYY)" id="stay-informed-year-graduated" name="Grad-Year" v-validate="'required|digits:4'" v-model="gradYear" data-vv-as="Year Graduated"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Year Graduated (YYYY) </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('Grad-Year')">{{ errors.first('Grad-Year') }}</span> 
           </div> 
          </div> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Degree Achieved</span> <input class="site-stay-informed__input-text" type="text" placeholder="Degree Achieved" id="stay-informed-degree-achieved" name="Degree" v-validate="'required'" v-model="degree" data-vv-as="Degree Achieved"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Degree Achieved </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('Degree')">{{ errors.first('Degree') }}</span> 
           </div> 
          </div> 
          <div class="columns large-4"> 
           <div class="site-stay-informed__input-text-wrapper"> 
            <label> <span class="show-for-sr">Last name at graduation</span> <input class="site-stay-informed__input-text" type="text" placeholder="Last name at graduation" id="stay-informed-last-name-graduation" name="Grad-Last-Name" v-validate="'required'" v-model="gradLastName" data-vv-as="Last name at graduation"> <span class="site-stay-informed__input-text-label" aria-hidden="true"> Last name at graduation </span> </label> 
            <span class="site-stay-informed__error" v-show="errors.has('Grad-Last-Name')">{{ errors.first('Grad-Last-Name') }}</span> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="site-stay-informed__inner"> 
         <div class="row"> 
          <div class="columns large-4 large-offset-4"> 
           <input @click.prevent.stop="submit" type="submit" name="submit" id="submit" class="site-stay-informed__submit button button-form" value="JOIN"> 
          </div> 
          <div class="columns site-stay-informed__disclaimer"> 
           <p>We value your privacy. UCLA will not share your information with any outside or third parties.</p> 
          </div> 
         </div> 
        </div> 
       </form> 
      </div> 
     </div> 
     <div class="stay-informed-modal__bg" @click="afterSubmit()" role="button"> 
      <div class="videos-modal__close"> 
       <span aria-hidden="true">✕</span>
       <span class="show-for-sr">Close</span> 
      </div> 
     </div> 
    </div> 
   </section> 
  </section> 
  <section class="back-to-top hide-for-medium"> 
   <div class="row text-center"> 
    <div class="columns"> 
     <a class="button button-white scrollToTop" role="button">Back To Top</a> 
    </div> 
   </div> 
  </section> 
  <footer class="footer"> 
   <div class="row" id="footer-navigation" role="navigation"> 
    <div class="columns large-3"> 
     <div class="footer__nav"> 
      <h3>The Optimists</h3> 
      <ul> 
       <li><a href="/">Home</a></li> 
       <li><a href="/profiles">Optimists</a></li> 
       <li><a href="/videos">Videos</a></li> 
       <li><a href="/stories">Stories</a></li> 
      </ul> 
     </div> 
    </div> 
    <div class="columns large-3"> 
     <div class="footer__nav"> 
      <h3>Get Involved</h3> 
      <ul> 
       <li><a href="http://giveto.ucla.edu/" target="_blank">Giving</a></li> 
       <li><a href="http://www.ucla.edu/apply">Admission</a></li> 
       <li><a href="http://happenings.ucla.edu/" target="_blank">Happenings</a></li> 
       <li><a href="http://volunteer.ucla.edu/" target="_blank">Volunteer</a></li> 
       <li><a href="http://alumni.ucla.edu/" target="_blank">Alumni</a></li> 
       <li><a href="http://advocacy.ucla.edu/" target="_blank">Advocacy</a></li> 
      </ul> 
     </div> 
    </div> 
    <div class="columns large-3"> 
     <div class="footer__nav"> 
      <h3>News</h3> 
      <ul> 
       <li><a href="#" target="_blank">Newsroom</a></li> 
       <li><a href="http://magazine.ucla.edu/" target="_blank">Magazine</a></li> 
      </ul> 
     </div> 
    </div> 
    <div class="columns large-3"> 
     <div class="footer__nav"> 
      <h3>Connect with UCLA</h3> 
      <ul> 
       <li><a href="https://www.facebook.com/uclabruins" target="_blank">Facebook</a></li> 
       <li><a href="https://twitter.com/ucla">Twitter</a></li> 
       <li><a href="https://www.youtube.com/ucla">YouTube</a></li> 
       <li><a href="https://www.instagram.com/ucla">Instagram</a></li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <section class="legal" role="contentinfo"> 
    <div class="row"> 
     <div class="columns small-3 large-1"> 
      <a class="ucla-logo-footer__wrapper" href="http://www.ucla.edu/"> <img src="/assets/img/ucla-logo-footer.svg" class="ucla-logo" alt="UCLA Website"> </a> 
     </div> 
     <div class="columns small-9 large-11 "> 
      <div class="text-wrapper"> 
       <a class="terms ga-footer-link" href="http://www.ucla.edu/terms-of-use">Terms of Use/Privacy Policy</a> 
       <span class="copyright">©2018 Regents of the <a href="http://universityofcalifornia.edu/" class="terms ga-footer-link">University of California</a>, Los Angeles campus. All rights reserved.</span> 
      </div> 
     </div> 
    </div> 
   </section> 
  </footer> 
  <script type="text/javascript" src="/assets/js/scripts-4e4c2a50.js"></script> 
  <!--
<script type="text/javascript" src="/assets/js/scripts.js"></script>
-->   
 </body>
</html>